#search_form
  = search_form_for @q, url: form_url, html: {class: 'form-search'} do |f|
    .input-append
      = f.text_field :name_cont, class: 'search-query', placeholder: '输入名称'
      = f.submit '搜索', class: 'btn'
- if @auction_categories.length > 0
  %table.table
    %thead
      %tr
        %th= sort_link(@q, :name)
        %th= sort_link(@q, :level)
        %th= sort_link(@q, :upid,'父级名称')
        %th= sort_link(@q, :created_at, '创建时间')
        %th= sort_link(@q, :status, '状态')
        %th 操作
    %tbody
      - @auction_categories.each_with_index do |ac, index|
        %tr{id: "ac_#{ac.id}", class: 'ac'}
          %td= link_to ac.name, [:admin, ac]
          %td= ac.level
          %td= ac.upid>0 ? AuctionCategory.find(ac.upid).name : '第一级'
          %td= ac.created_at.strftime('%Y-%m-%d')
          %td= content_tag(:span, '有效', class: 'label label-danger') if ac.status
          %td
            = link_to '编辑', edit_admin_auction_category_path(ac)
            = link_to '删除', [:admin, ac], method: :delete, remote: true, data: { confirm: '确定删除？' }
  .pagination.pull-right= will_paginate @auction_categories, renderer: BootstrapPagination::Rails
- else
  .no_content 无内容
